/* Error: expected selector.
 *   ,--> base\_utilities.scss
 * 30|     .space-y-#{escape-number($space)} {
 *   |                ^^^^^^^^^^^^^^^^^^^^^ 
 *   '
 *   ,
 * 1 | .space-y-escape-number(0) 
 *   |                       = error in interpolated output
 *   '
 *   base\_utilities.scss 30:16  @import
 *   main.scss 5:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \250c \2500 \2500 > base\\_utilities.scss\a 30\2502      .space-y-#{escape-number($space)} {\d\a   \2502                 ^^^^^^^^^^^^^^^^^^^^^ \a   \2575 \a   \2577 \a 1 \2502  .space-y-escape-number(0) \a   \2502                        \2501  error in interpolated output\a   \2575 \a   base\\_utilities.scss 30:16  @import\a   main.scss 5:9               root stylesheet";
}
